.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

      background: linear-gradient(
        135deg,
        #2673de,
        #dac8bf,
        #60a5fa
    );
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 300px;
    padding: 30px;

    background: white;
    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    color: yellowgreen;
}

.login-form h1 {
    text-align: center;
}

.login-form input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.login-form button {
    padding: 12px;
    border: none;
    border-radius: 8px;

    background: #2673de;
    color: white;
    font-weight: bold;

    cursor: pointer;
}

.login-form button:hover {
    opacity: 0.9;
}

.login-form a {
    text-decoration: none;
    color: #2673de;
    text-align: center;
}