.transaction-mini-container {
    background: #1e1f25;
    padding: 40px;
    border-radius: 12px;
    width: 800px;
    margin-left: 300px;
    color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

}

.transaction-mini-container h2 {
    margin-bottom: 15px;
    font-size: 20px;
}


tr:hover {
    background: #32343b;
    transition: 0.2s ease;
}

/* amount styling */
td:nth-child(3) {
    font-weight: bold;
    color: #4caf50;
    /* green for income */
}

/* type badge style */
td:nth-child(4) {
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 6px;
    background: rgba(76, 175, 80, 0.1);
    color: #4caf50;
    display: inline-block;
}

.trans-btn {
    background: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s ease;
}

.transaction-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.transaction-form input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s ease;
    margin: 10px;
}

.transaction-form input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #4caf50;
}

.transaction-form button {
    background: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s ease;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 2rem;
}

table th {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    text-align: left;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}