.sidebar {
  height: 100vh;
  padding: 20px;
  position: fixed;
  /* stays on the left */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 20px;
  color: rgb(5, 5, 5);
}


.sidebar a {
  text-decoration: none;
  padding: 10px 0;
  transition: 0.3s ease;
  font-size: 1rem;
  display: block;
}

.sidebar a:hover {
  color: #49f049;
  transform: translateX(5px);
}

.sidebar a.active {
  color: #fbbf24;
  font-weight: bold;
}